<?xml version="1.0" encoding="UTF-8"?>
<!-- PHPUnit for the custom modules only. Kernel tests run on SQLite; no
     site install is needed (Drupal's test bootstrap builds one per test). -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="web/core/tests/bootstrap.php"
         colors="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="false"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://localhost:8080"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost/sites/simpletest/.ht.sqlite"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="web/sites/simpletest/browser_output"/>
    <env name="MINK_DRIVER_ARGS" value=""/>
  </php>
  <testsuites>
    <testsuite name="custom">
      <directory>web/modules/custom/*/tests/src</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>web/modules/custom/*/src</directory>
    </include>
  </source>
</phpunit>
